* {
    box-sizing: border-box;
}    
body {
    /* background: rgb(243, 237, 182); */
    font-family: 'Roboto', sans-serif;
    background: url(img/03.jpg) no-repeat;
    background-size: cover;
}
h1 {
    color: #fff;
    position: relative;
    top: 60%;
    width: 60%;
    margin: 0 auto;
    background-color: rgba(255, 255, 128, .5);
    padding: 10px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
}
.conteneur {
    /* background: rgb(161, 159, 159); */
    /* width: 1200px; */
    /* border: 1px solid #fff; */
    margin: 0 auto;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid orange; */
}
.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    /* border: 2px solid green; */
}
.marge-1 {margin-left: 8.333333%;}
.marge-2 {margin-left: 16.666666%;}
.marge-3 {margin-left: 25%;}
.marge-4 {margin-left: 33.333333%;}
.marge-5 {margin-left: 41.666666%;}
.marge-6 {margin-left: 50%;}
.marge-7 {margin-left: 58.333333%;}
.marge-8 {margin-left: 66.666666%;}
.marge-9 {margin-left: 75%;}
.marge-10 {margin-left: 83.333333%;}
.marge-11 {margin-left: 91.666666%;}
.marge-12 {margin-left: 100%;}
.col-1 {width: 8.333333%;}
.col-2 {width: 16.666666%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 {width: 41.666666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333%;}
.col-8 {width: 66.666666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width: 91.666666%;}
.col-12 {width: 100%;}
/* medias queries pour les ecrans */
/* téléphone mobile, exemple i-phone5 */
@media (max-width: 320px) {
    /* body {
        background: #fff;
    } */
    .conteneur {
        width: 100%;
        /* background: #fff; */
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
     h1 {
        font-size: 120%;
        text-align: left;
        padding-left: 5px;
        color: #fff;
    }
    /* header p {
        color: #fff;
        text-align: left;
        padding-left: 5px;
    } */
     .col-xsm-12 {
        width: 100%;
    }
      .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: none;
    }
    .marge-xsm {
        margin-left: 0;
    }
}
/* petites tablettes */
@media(min-width: 321px)and (max-width: 767px) {
    /* body {
        background: #b18b45;
    } */
    .conteneur {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border: none;
        /* background: #fff; */
    }
    .row {
        border: none;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-12 {
        width: 100%;
    }
   
}
/* tablettes et ordinateurs portables, deskop*/
@media (min-width:768px) and (max-width:1096px) {
    /* body {
        background: #2e20e7;
    } */
    .conteneur {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /* background: #fff; */
    }  
}
/* ecran ordinateurs de bureau */
@media (min-width:1097px) {
    /* body {
        background: lightblue;
    } */
    .conteneur {
        width: 1200px;
        /* border: 1px solid #fff; */
        margin: 0 auto;
    }
}

/* couleurs génériques */
.bleu {background: blue;min-height: 60px;color: #fff;padding: 5px;}
.rouge {background: red;min-height: 60px;}
.vert {background: green;min-height: 60px;}
.jaune {background: yellow;min-height: 60px;}
/* trois colonnes égales cotes à cotes */
/* http://angelmarkos.free.fr/partage/hetic/mario.jpg */
header {
    background: url(img/7.jpg) no-repeat center;
    text-align: center;
    height: 333px;
}
footer {
    padding: 10px;
    /* background: rgba(245, 164, 118, 0.2); */
}
#monImage {
    max-width: 780px;
}
.diaporama {
    padding: 10px;
}
.diaporama h2 {
     text-align: center;
     color: rgb(240, 209, 190);
}